<head>
  <title>Meteor Mogul playground</title>
</head>

<body>
  <h1>Meteor Mogul app running</h1>

  <div id="app"></div>

  <script type="text/x-template" id="app-template">
    <div>
      <login-buttons></login-buttons>

      <hr />

      <create-user></create-user>

      <hr />

      <hello></hello>
      <info></info>
    </div>
  </script>

  <script type="text/x-template" id="create-user-template">
    <div>
      <input
        type="text"
        placeholder="Username"
        v-model="username"
      >
      <input
        type="text"
        placeholder="Password"
        v-model="password"
      >
      <button v-on:click="createUser">Create new user</button>
    </div>
  </script>

</body>
